{% extends "base_generic.html" %}
{% load crispy_forms_tags %}

{% block pagetitle %}Client List{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb" style="padding-left: 20px;">
        <ul class="breadcrumb" style="margin: 0;">
            <li class="breadcrumb-item"><a href="{% url 'home:dashboard' %}">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">Clients</li>
        </ul>
    </nav>
{% endblock %}

{% block content %}
    <div class="contextual-row">
        <div class="contextual-row-left">
            <a href="{% url 'rolodex:client_create' %}" class="btn btn-primary btn-sm">Add New Client</a>
        </div>

        <div class="contextual-row-right">
            <!-- Search Section -->
            <form action="{% url 'rolodex:clients' %}" method="GET" class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><span class="fa fa-search"></span></span>
                </div>
                <input type="text" name="client_search" class="form-control form-control-sm" placeholder="Search clients" aria-label="Search clients" aria-describedby="button-search">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary btn-sm" type="submit" id="button-search">Search</button>
                </div>
            </form>
        </div>
    </div>
    {% if client_list %}
        <table id="clientTable" class="tablesorter">
            <thead>
                <tr>
                    <th>Client</th>
                    <th><div style="margin-right: 10px;">Codename</div></th>
                    <th class="sorter-false">Description</th>
                </tr>
            </thead>
            {% for client in filter.qs %}
                <tr>
                    <td class="clickable"><a href="{{ client.get_absolute_url }}">{{ client.name }}</a></td>
                    <td>{{ client.short_name }}</td>
                    <td>{{ client.codename }}</td>
                    <td>{{ client.note }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}

{% block morescripts %}
    <!-- jQuery Tablesorter Script -->
    <script>
        $(document).ready(function()  {
            $("#clientTable").tablesorter(
                            {
                                cssAsc: 'down',
                                cssDesc: 'up',
                                cssNone: 'none',
                            }
                        );
            $('.tablesorter').trigger('update');
        });
    </script>
{% endblock %}
